{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "AZURE_COSMOS_ENDPOINT": "YOUR_COSMOS_ENDPOINT",
  "AZURE_COSMOS_DATABASE": "catalogdb",
  "AZURE_REDIS_ENDPOINT":"YOUR_REDIS_ENDPOINT",
  "PRODUCT_LIST_CACHE_DISABLE":"0",
  "SIMULATED_DB_LATENCY_IN_SECONDS": "",
  "PRODUCT_VIEWS_STREAM_NAME": "productViews",
  "AI_FOUNDRY_PROJECT_URL": "YOUR_AI_FOUNDRY_PROJECT_URL",
  "EMBEDDING_DEPLOYMENT_NAME": "text-embedding-ada-002",
  "CHAT_DEPLOYMENT_NAME": "gpt-4o"
}
